@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.banner-area {
    width: 100%;
    height: 100;
    background-image: url(../img/BG.jpg);
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-color: #110b39 !important;
}
.justify-content-center1 {
    height: 100%;
    justify-content: center;
    display: flex;
    align-content: flex-end;
    align-items: center;
    margin-top: 22rem;
}
#centered {
    margin-left: auto;
    margin-right: auto;
    display: table-cell; // here is the trick
    vertical-align: middle; // and this
    height: 200px;
    border: 1px solid blue;
}
.login-card {
    background-color: #edf2f5 !important;
    border: none !important;
    border-radius: 1em 1em 1em 1em !important;
}
.btn-login {
    color: #efeee3 !important;
    background-color: #ffb846 !important;
    border-color: #ffb846 !important;
}
.btn-login:hover {
    background-color: #ffebcf !important;
    border-color: #ffebcf !important;
}
.welcome {
    padding: 0.75rem 1.25rem !important;
    color: #efeee3 !important;
    background-color: #ffb846 !important;
    border: none !important;
    border-radius: 1em 1em 0 0 !important;
    margin-bottom: 0 !important;
}
.login-screen {
    color: #87849b !important;
    background-color: #edf2f5 !important;
    border: none !important;
    border-radius: 0 0 1em 1em;
}
.login-link {
    color: #201b46 !important;
}

.card-header {
    border: none !important;
    color: #110b39 !important;
    background-color: #d9d9d9 !important;
    padding: 0.75rem 1.25rem !important;
}
.bg-color {
    background-color: #110b39 !important;
}
.collapse {
}
.container {
}
.d-none {
}
.dropdown {
}
.dropdown-item {
}
.dropdown-menu {
}
.dropdown-menu-right {
}
.dropdown-toggle {
}
.ml-auto {
}
.mr-auto {
}
.nav-item {
}
.nav-link {
}
.navbar {
    font-family: "Roboto", sans-serif;
}
.navbar-brand {
    color: #efede0 !important;
}
.navbar-brand:hover {
    color: #ffffff !important;
}
.nav-link {
    color: #ffb846 !important;
}
.nav-link:hover {
    color: #ffebcf !important;
}
.navbar-collapse {
}
.navbar-expand-md {
}
.navbar-light {
}
.navbar-nav {
}
.navbar-toggler {
    border: none !important;
}
.navbar-toggler-icono {
    color: #ffb846 !important;
}
.navbar-toggler-icono:hover {
    color: #cfb88c !important;
}
.py-4 {
}
.shadow-sm {
}
.alert {
}
.alert-primary {
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.btn-success {
}
.card {
    background-color: #edf2f5 !important;
    border: none !important;
    border-radius: 1em 1em 1em 1em !important;
}
.card-body {
    background-color: #edf2f5 !important;
    border-radius: 1em 1em 1em 1em !important;
}
.card-header {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #110b39 !important;
    background-color: #d9d9d9 !important;
    border-color: #d9d9d9 !important;
    border-radius: 1em 1em 0 0 !important;
}
.col-md-12 {
}
.container {
}
.dt-responsive {
}
.justify-content-center {
}
.nowrap {
}
.py-12 {
}
.row {
}
.table {
    font-family: "Roboto", sans-serif;
    color: #262626 !important;
}
.table-bordered {
}
.table-striped {
    border-radius: 0.5em 0.5em 0.5em 0.5em !important;
}
.pagination button {
    background-color: #ffb846 !important;
    border-color: #ffb846 !important;
}
.pagination button :hover {
    background-color: #cfb88c !important;
    border-color: #cfb88c !important;
}
.paginate-button {
    background-color: #ffb846 !important;
    border-color: #ffb846 !important;
}
.paginate-button :hover {
    background-color: #cfb88c !important;
    border-color: #cfb88c !important;
}
.paginate-button :disabled {
    background-color: #917447 !important;
    border-color: #917447 !important;
}
.previous {
    background-color: #ffb846 !important;
    border-color: #ffb846 !important;
}
.previous :disabled {
    background-color: #917447 !important;
    border-color: #917447 !important;
}
.next {
    background-color: #ffb846 !important;
    border-color: #ffb846 !important;
}
.next :disabled {
    background-color: #917447 !important;
    border-color: #917447 !important;
}
.page-item.disabled .page-link {
    color: #d9d9d9 !important;
    background-color: #917447 !important;
    border-color: #917447 !important;
}
.odd {
    background-color: #ffffff !important;
    border: none !important;
}
.col {
    border: none !important;
}
.table td {
    border: none !important;
}
.table tr {
    border: none !important;
    border-radius: 0.5em 0.5em 0.5em 0.5em !important;
}
.table th {
    background-color: #ffffff !important;
    border-color: #d9d9d9 !important;
    color: #110b39 !important;
}
.btn-primary {
    background-color: #ffb846 !important;
    border-color: #ffb846 !important;
}
.btn-outline-add {
    border-color: #110b39 !important;
    color: #110b39 !important;
    background-color: transparent;
    background-image: none;
}

.btn-xlarge {
    padding: 66px 56px !important;
    font-size: 66px !important;
    line-height: normal !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px !important;
}
.btn-sm {
    -webkit-border-radius: 18px !important;
    -moz-border-radius: 18px !important;
    border-radius: 18px !important;
}
.push {
}

.end-sale-cont {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.logo-login {
    height: 100px;
    width: 100px;
}

.logo-nav {
    height: 100%;
    width: 60%;
}
